@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Montserrat&family=Rubik&display=swap');


.section-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
}


/* Navbar */

.navbar{
    padding: 2% 3%;
    width: 100%;
    z-index: 1;
}
.navbar-index{
    position: absolute;
}
.navbar-brand{
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    font-weight: bold;
}


/* Explore Screen */

.bg-image{
    text-align: center;
}
.bg-image img{
    opacity: 60%;
    height: 80%;
    background-image: absolute;
}
.explore-section{
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.663);
    padding: 20px;
    border-radius: 5% / 15%;
}
.explore-text{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2px;
}
.explore-button{
    padding: 10px 100px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}


/* Genres */

.genre{
    padding: 1.5%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
#genres{
    margin-top: 200px;
    margin: 200px 150px 100px;
}
.section-heading{
    margin-bottom: 50px;
}
.genre img{
    width: 100%;
}
.genre-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}


/* Footer */

.social-icon{
    margin: 20px 10px;
}
footer{
    background-color: #E8F9FD;
    padding: 3% 5%;
}
footer p{
    margin-top: 20px;
}


/* Choosing Screen */

.book-screen{
    margin-bottom: 50px;
}
.book-image{
    width: 70%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #ccc;
}
.like{
    width: 60%;
    padding: 25% 0 0;
}
.hate{
    width: 50%;
    padding: 30% 0 0;
}
.like:hover{
    transform: scale(1.3);
}
.hate:hover{
    transform: scale(1.3);  
}
/* .swiped{
    position: absolute;
}
.unswiped{
    position: relative;
    display: none;
} */
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}

/* POPUP - It's a match!  */

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.popup{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    background-color: #1570a8;
    color: white;
    z-index: 100;
    display: none;
    border: black;
    border-style: solid;
    border-width: 8px;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    margin: 25px 50px;
    padding: 2%;
}
.premium-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
div.close-btn {
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    color: black;
    padding: 4px;
    left: 0;
}

.qrcode{
    width: 40%;
}


/* Genre Pages*/

#romance, #romance #footer{
    background-color: #F4EEED;
}
#scifi, #scifi #footer{
    background-color: #F1F7E7;
}
#horror, #horror #footer{
    background-color: #EDEDED;
}
#fantasy, #fantasy #footer{
    background-color: #FDFCE5;
}
